@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.fonts {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.hero-btn {
  border-radius: 10px;
  background: linear-gradient(180.00deg, rgba(164, 188, 70, 1), rgba(132.8367919921875, 160.4375, 24.73410415649414, 1) 100%);
}

.disabled {
  display: none;
}